<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>XcapServer</display-name>
    <servlet-name>XcapServer</servlet-name>
    <servlet-class>com.inted.xcap.server.fe.XcapServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XcapServer</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>